.App {
  text-align: center;
}

h1 {
  color: white;
  background-color: rgb(81, 87, 87);
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-style: italic;
}

h3 {
  text-decoration: underline;
  text-transform: uppercase;
}
